.btn_action:hover {
    background-color: white;
    color: black;
    transition: all .15s ease-in-out;
}

.btn_action,.btn_action_delete {
    transition: all .15s ease-in-out;
}



.btn_action_delete:hover {
    background-color: rgb(97, 0, 0);
}